@import '../../../assets/values/Colors.css';
@import '../../../assets/values/Fonts.css';

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 3s;
}

.main-nav-button1 {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 19rem;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  z-index: 100;
  transition: 0.7s;
}

.main-nav-button1:hover {
  opacity: 0.7;
}

.main-nav-button2 {
  display: flex;
  width: 100%;
  font-size: 19rem;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  z-index: 100;
  margin-bottom: 10px;
}



.main-stars {
  position: absolute;
  transition: 1s;
  opacity: 0.2;
}

.main-stars:hover {
  opacity: 1;
}


.main-info-text {
  font-size: 13rem;
  text-align: left;
  font-family: var(--font);
  color: var(--text-color);
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.main-object-block {
  z-index: 1;
  font-size: 16rem;
  font-weight: bold;
  text-align: left;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--main-color);
  width: 100%;
  padding: 20px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 16px;
}