@import '../../../assets/values/Colors.css';
@import '../../../assets/values/Fonts.css';

.constellation-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.constellation-go-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16rem;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  z-index: 100;
}

.constellation-title {
  position: absolute;
  font-size: 37rem;
  font-weight: bold;
  text-align: center;
  font-weight: 700;
  font-family: var(--font);
  color: var(--text-color);
  z-index: 100;
  margin: 0
}


.constellation-image {
  max-width: 700px;
  width: calc(100% - 40px);
  height: 50%;
  padding: 20px;
  z-index: 2
}

.constellation-open-modal-button {
  position: absolute;
  bottom: 20px;
  font-size: 16rem;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  z-index: 100;
}

.constellation-info-block {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 40px);
  height: calc(100% - 40px); 
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: var(--modal-background-color);
  padding: 20px;
  transition: bottom 1s ease-in-out;
  z-index: 255;
}

.constellation-info-block.visible {
    bottom: 0;
}

.constellation-close-modal-button {
  font-size: 16rem;
  text-align: center;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  z-index: 100;
}

.constellation-info-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
    padding: 0;
}