@import '../../../assets/values/Colors.css';
@import '../../../assets/values/Fonts.css';

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 3s;
}

.search-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}

.search-go-back-button {
  font-size: 16rem;
  text-align: left;
  font-family: var(--font);
  color: var(--text-color);
  border: 0;
  background-color: transparent;
  margin-bottom: 10px;
}

.input {
  max-width: 480px;
  width: calc(100% - 20px);
  background-color: transparent;

  padding: 10px;
  margin-bottom: 10px;
  
  border-width: 0;
  border-bottom: 2px solid var(--hidden-text-color);
  outline-width: 0;
  /* border-radius: 16px; */

  font-size: 19px;
  font-family: var(--font);
  color: var(--text-color);
  z-index: 1;
}

.input::placeholder {
  color: var(--text-color);
}

input:focus {
  border-bottom: 2px solid var(--text-color);
}

.search-results-title {
  font-size: 16rem;
  text-align: left;
  font-weight: 300;
  font-family: var(--font);
  color: var(--text-color);
  max-width: 500px;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.search-list {
  max-width: 500px;
  width: 100%;
  padding: 0;
}

.search-object-block {
  position: relative;
  font-size: 19rem;
  font-weight: bold;
  text-align: left;
  font-family: var(--font);
  color: var(--text-color);
  background-color: var(--main-color);
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 16px;
  z-index: 1;
}