:root {
  --background-color: #090a0f;
  --modal-background-color: #090a0fda;
  --main-color: #1a1a1f;
  --additional-color: #574acf;
  --text-color: #dedede;
  --hidden-text-color: #464646;
  --hidden-text-color: #2c2d34;
  --star-color: #fafaff;
}